.offcanvas-title {
   color: #AD0000 !important;
}

.navbar-nav .nav-link {
    color: #ffffff !important;
}

.navbar-nav .nav-link:hover {
    color: #AD0000 !important;
}

/* .offcanvas-header .btn-close {

    background-image: url(../../../assets/img/icons8-close-AD0000.svg) !important;
} */
