.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}


.img {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    margin-top: 10px; /* Added */
}


.scroll{
    overflow-y: scroll;
    max-height:500px;
    background-color: transparent !important;
    border: none;

}