.ForgotPassword{
    cursor:pointer;
    color: #AD0000;
}
.ForgotPassword:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #5e0707;

}

.btnprimary {
    color: #fff;
    background-color: #AD0000 !important;
    border-color: #AD0000 !important; /*set the color you want here*/
}
.btnprimary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #5e0707 !important;
    border-color: #5e0707 !important; /*set the color you want here*/
}

.InputGroup_text{
    cursor: pointer;
}

